.report {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}

.katex-display>.katex {
    white-space: normal;
    text-align: center;
}

.diff {
    color: red;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}